<style>
  .message {
    display: flex;
    flex-direction: row;
  }
  .user-picture-circle {
    border-radius: 100%;
    background: gray;
    display: grid;
    place-items: center;
    height: 48px;
    width: 48px;
    margin: 1rem;
  }
  .user-picture {
    height: 24px;
    width: 24px;
    color: white;
  }
  .message-bubble {
    background: dodgerblue;
    box-shadow: 0px 12px 24px dodgerblue;
    border-radius: 100px 100px 100px 0px;
    color: white;
    margin: 1rem;
    padding: 0.4rem 1.2rem;
  }
  .message-details {
    margin: 1rem;
  }
  .message-self {
    flex-direction: row-reverse;
  }
  .message-self .message-bubble {
    border-radius: 100px 100px 0px 100px;
    background: white;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.24);
    color: black;
  }
</style>
<div class="message" [ngClass]="{ 'message-self': self }">
  <div class="user-picture-circle">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="user-picture bi bi-person"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
      />
    </svg>
  </div>
  <div class="items-pos-flex">
    <div class="message-bubble">{{ message }}</div>
    <div class="message-details">{{ username }} · {{ time }}</div>
  </div>
</div>
