<style>
  .top-bar {
    width: 100%;
    height: 120px;
    display: grid;
    place-items: center;
    position: fixed;
    background: linear-gradient(#FFFFFFFF, #FFFFFF00);
  }
  .top-bar h1 {
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1rem;
  }
  .middle-container {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50vh;
    background: dodgerblue;
    box-shadow: 0px 12px 60px rgba(0, 128, 256, 0.4);
  }
  .bottom-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 12px 60px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    display: grid;
    place-content: center;
    padding: 1rem;
    margin: 0;
  }
  .input-group {
    display: flex;
  }
  .form-control-custom {
    width: 400px;
    margin-right: 1rem;
    max-width: 800px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    border: 0px;
    padding-left: 1rem;
  }
  .btn-primary-custom {
    flex-grow: 1;
    background: dodgerblue;
    color: white;
    padding: 0.4rem 1.6rem;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0px 10px 24px rgba(0, 128, 255, 0.24);
    transition: all 140ms ease-in;
  }
  .btn-primary-custom:hover {
    transform: scale(1.2);
  }
  .chat-container {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 100px;
  }
  /* Chat Bubble */
  .message {
    display: flex;
    flex-direction: row;
  }
  .user-picture-circle {
    border-radius: 100%;
    background: gray;
    display: grid;
    place-items: center;
    height: 48px;
    width: 48px;
    margin: 1rem;
  }
  .user-picture {
    height: 24px;
    width: 24px;
    color: white;
  }
  .message-bubble {
    background: dodgerblue;
    box-shadow: 0px 12px 24px dodgerblue;
    border-radius: 100px 100px 100px 0px;
    color: white;
    margin: 1rem;
    padding: 0.4rem 1.2rem;
  }
  .message-details {
    margin: 1rem;
  }
  .message-self {
    flex-direction: row-reverse;
  }
  .message-self .message-bubble {
    border-radius: 100px 100px 0px 100px;
    background: white;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.24);
    color: black;
  }
</style>
<div class="top-bar">
  <h1>Chat App</h1>
</div>
<div class="middle-container"></div>
<div class="chat-container">
  <div class="message">
    <div class="user-picture-circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="user-picture bi bi-person"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
        />
      </svg>
    </div>
    <div class="items-pos-flex">
      <div class="message-bubble">Sup, this is a sample message.</div>
      <div class="message-details">Harsh Chaturvedi · 11:30 AM</div>
    </div>
  </div>
  <div class="message">
    <div class="user-picture-circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="user-picture bi bi-person"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
        />
      </svg>
    </div>
    <div class="items-pos-flex">
      <div class="message-bubble">Sup, this is a sample message.</div>
      <div class="message-details">Harsh Chaturvedi · 11:30 AM</div>
    </div>
  </div>
  <div class="message message-self">
    <div class="user-picture-circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="user-picture bi bi-person"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
        />
      </svg>
    </div>
    <div class="items-pos-flex">
      <div class="message-bubble">Sup, this is a sample message.</div>
      <div class="message-details">Harsh Chaturvedi · 11:30 AM</div>
    </div>
  </div>
  <div class="message">
    <div class="user-picture-circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="user-picture bi bi-person"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
        />
      </svg>
    </div>
    <div class="items-pos-flex">
      <div class="message-bubble">Sup, this is a sample message.</div>
      <div class="message-details">Harsh Chaturvedi · 11:30 AM</div>
    </div>
  </div>
  <div class="message">
    <div class="user-picture-circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="user-picture bi bi-person"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
        />
      </svg>
    </div>
    <div class="items-pos-flex">
      <div class="message-bubble">Sup, this is a sample message.</div>
      <div class="message-details">Harsh Chaturvedi · 11:30 AM</div>
    </div>
  </div>
  <div class="message">
    <div class="user-picture-circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="user-picture bi bi-person"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
        />
      </svg>
    </div>
    <div class="items-pos-flex">
      <div class="message-bubble">Sup, this is a sample message.</div>
      <div class="message-details">Harsh Chaturvedi · 11:30 AM</div>
    </div>
  </div>
  <div class="message">
    <div class="user-picture-circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="user-picture bi bi-person"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
        />
      </svg>
    </div>
    <div class="items-pos-flex">
      <div class="message-bubble">Sup, this is a sample message.</div>
      <div class="message-details">Harsh Chaturvedi · 11:30 AM</div>
    </div>
  </div>
  <div class="message">
    <div class="user-picture-circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="user-picture bi bi-person"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
        />
      </svg>
    </div>
    <div class="items-pos-flex">
      <div class="message-bubble">Sup, this is a sample message.</div>
      <div class="message-details">Harsh Chaturvedi · 11:30 AM</div>
    </div>
  </div>
  <div class="message">
    <div class="user-picture-circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="user-picture bi bi-person"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
        />
      </svg>
    </div>
    <div class="items-pos-flex">
      <div class="message-bubble">Sup, this is a sample message.</div>
      <div class="message-details">Harsh Chaturvedi · 11:30 AM</div>
    </div>
  </div>
  <div class="message">
    <div class="user-picture-circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="user-picture bi bi-person"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
        />
      </svg>
    </div>
    <div class="items-pos-flex">
      <div class="message-bubble">Sup, this is a sample message.</div>
      <div class="message-details">Harsh Chaturvedi · 11:30 AM</div>
    </div>
  </div>
  <div class="message">
    <div class="user-picture-circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="user-picture bi bi-person"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
        />
      </svg>
    </div>
    <div class="items-pos-flex">
      <div class="message-bubble">Sup, this is a sample message.</div>
      <div class="message-details">Harsh Chaturvedi · 11:30 AM</div>
    </div>
  </div>
  <div class="message">
    <div class="user-picture-circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="user-picture bi bi-person"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
        />
      </svg>
    </div>
    <div class="items-pos-flex">
      <div class="message-bubble">Sup, this is a sample message.</div>
      <div class="message-details">Harsh Chaturvedi · 11:30 AM</div>
    </div>
  </div>
  <div class="message">
    <div class="user-picture-circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="user-picture bi bi-person"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
        />
      </svg>
    </div>
    <div class="items-pos-flex">
      <div class="message-bubble">Sup, this is a sample message.</div>
      <div class="message-details">Harsh Chaturvedi · 11:30 AM</div>
    </div>
  </div>
  <div class="message message-self">
    <div class="user-picture-circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="user-picture bi bi-person"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
        />
      </svg>
    </div>
    <div class="items-pos-flex">
      <div class="message-bubble">Sup, this is a sample message.</div>
      <div class="message-details">Harsh Chaturvedi · 11:30 AM</div>
    </div>
  </div>
  <div class="message message-self">
    <div class="user-picture-circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="user-picture bi bi-person"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
        />
      </svg>
    </div>
    <div class="items-pos-flex">
      <div class="message-bubble">Sup, this is a sample message.</div>
      <div class="message-details">Harsh Chaturvedi · 11:30 AM</div>
    </div>
  </div>
  <div class="message">
    <div class="user-picture-circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="user-picture bi bi-person"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
        />
      </svg>
    </div>
    <div class="items-pos-flex">
      <div class="message-bubble">Sup, this is a sample message.</div>
      <div class="message-details">Harsh Chaturvedi · 11:30 AM</div>
    </div>
  </div>
  <div class="message message-self">
    <div class="user-picture-circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="user-picture bi bi-person"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
        />
      </svg>
    </div>
    <div class="items-pos-flex">
      <div class="message-bubble">Sup, this is a sample message.</div>
      <div class="message-details">Harsh Chaturvedi · 11:30 AM</div>
    </div>
  </div>
  <div class="message">
    <div class="user-picture-circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="user-picture bi bi-person"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
        />
      </svg>
    </div>
    <div class="items-pos-flex">
      <div class="message-bubble">Sup, this is a sample message.</div>
      <div class="message-details">Harsh Chaturvedi · 11:30 AM</div>
    </div>
  </div>
</div>
<div class="bottom-container">
  <div class="input-group">
    <input
      type="text"
      class="form-control-custom"
      placeholder="Type your message"
      aria-label="Username"
      aria-describedby="basic-addon1"
    />
    <button class="btn-primary-custom">Send</button>
  </div>
</div>
