<style>
  .chat-container {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 100px;
  }
</style>
<app-topbar></app-topbar>
<div class="chat-container">
  <app-message-bubble></app-message-bubble>
  <app-message-bubble></app-message-bubble>
  <app-message-bubble></app-message-bubble>
  <app-message-bubble></app-message-bubble>
  <app-message-bubble></app-message-bubble>
  <app-message-bubble></app-message-bubble>
  <app-message-bubble></app-message-bubble>
  <app-message-bubble></app-message-bubble>
  <app-message-bubble></app-message-bubble>
  <app-message-bubble></app-message-bubble>
  <app-message-bubble></app-message-bubble>
  <app-message-bubble></app-message-bubble>
  <app-message-bubble></app-message-bubble>
  <app-message-bubble></app-message-bubble>
  <app-message-bubble></app-message-bubble>
  <app-message-bubble></app-message-bubble>
</div>
<app-bottom-bar></app-bottom-bar>
